.v-center {
  display: flex;
  align-items: center;        
  justify-content: space-between; 
}

.v-center h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.border{
  border: 1px solid #ddd
}